<%= form_for(@viagem) do |f| %>
  <% if @viagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@viagem.errors.count, "error") %> prohibited this viagem from being saved:</h2>

      <ul>
      <% @viagem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cidadeOrigem_id %><br />
    <%= f.select :cidadeOrigem_id, Cidade.all.map {|c| [c.nome, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :cidadeDestino_id %><br />
    <%= f.select :cidadeDestino_id, Cidade.all.map {|c| [c.nome, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :saida %><br />
    <%= f.text_field :saida %>
  </div>
  <div class="field">
    <%= f.label :motoristum_id %><br />
	<%= f.select :motoristum_id, Motoristum.all.map {|c| [c.nome, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :carona_id %><br />
	<%= f.select :carona_id, Carona.all.map {|c| [c.nome, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :preco %><br />
    <%= f.text_field :preco %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
