<h1>Lista de Viagens</h1>

<table>
  <tr>
    <th>Cidade de Origem</th>
    <th>Cidade de Destino</th>
    <th>Saida</th>
    <th>Motorista</th>
    <th>Carona</th>
    <th>Preco</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @viagems.each do |viagem| %>
  <tr>
    <td><%= viagem.cidadeOrigem.try :nome %></td>
    <td><%= viagem.cidadeDestino.try :nome %></td>
    <td><%= viagem.saida %></td>
    <td><%= viagem.motoristum.try :nome %></td>
    <td><%= viagem.carona.try :nome %></td>
    <td><%= viagem.preco %></td>
    <td><%= link_to 'Mostrar', viagem %></td>
    <td><%= link_to 'Editar', edit_viagem_path(viagem) %></td>
    <td><%= link_to 'Excluir', viagem, :confirm => 'Voce tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova viagem', new_viagem_path %>
