<p id="notice"><%= notice %></p>

<p>
  <b>Cidadeorigem:</b>
  <%= @viagem.cidadeOrigem_id %>
</p>

<p>
  <b>Cidadedestino:</b>
  <%= @viagem.cidadeDestino_id %>
</p>

<p>
  <b>Saida:</b>
  <%= @viagem.saida %>
</p>

<p>
  <b>Motorista:</b>
  <%= @viagem.motorista_id %>
</p>

<p>
  <b>Carona:</b>
  <%= @viagem.carona_id %>
</p>

<p>
  <b>Preco:</b>
  <%= @viagem.preco %>
</p>


<%= link_to 'Edit', edit_viagem_path(@viagem) %> |
<%= link_to 'Back', viagems_path %>
