<p id="notice"><%= notice %></p>

<p>
  <b>Cidade de Origem:</b>
  <%= @viagem.cidadeOrigem.try :nome %>
</p>

<p>
  <b>Cidade de Destino:</b>
  <%= @viagem.cidadeDestino.try :nome %>
</p>

<p>
  <b>Saida:</b>
  <%= @viagem.saida %>
</p>

<p>
  <b>Motorista:</b>
  <%= @viagem.motoristum.try :nome %>
</p>

<p>
  <b>Carona:</b>
  <%= @viagem.carona.try :nome %>
</p>

<p>
  <b>Preco:</b>
  <%= @viagem.preco %>
</p>


<%= link_to 'Editar', edit_viagem_path(@viagem) %> |
<%= link_to 'Voltar', viagems_path %>
