<h1>Lista de Motoristas</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Endereco</th>
    <th>Telefone</th>
    <th>RG</th>
    <th>CPF</th>
    <th>Pontos</th>
    <th>Numero CNH</th>
    <th>Validade da CNH</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @motorista.each do |motoristum| %>
  <tr>
    <td><%= motoristum.login %></td>
    <td><%= motoristum.nome %></td>
    <td><%= motoristum.email %></td>
    <td><%= motoristum.endereco %></td>
    <td><%= motoristum.telefone %></td>
    <td><%= motoristum.rg %></td>
    <td><%= motoristum.cpf %></td>
    <td><%= motoristum.pontos %></td>
    <td><%= motoristum.cnh %></td>
    <td><%= motoristum.validadeCnh %></td>
    <td><%= link_to 'Mostrar', motoristum %></td>
    <td><%= link_to 'Editar', edit_motoristum_path(motoristum) %></td>
    <td><%= link_to 'Excluir', motoristum, :confirm => 'Voce tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo motorista', new_motoristum_path %>
