<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @motoristum.login %>
</p>

<p>
  <b>Senha:</b>
  <%= @motoristum.senha %>
</p>

<p>
  <b>Nome:</b>
  <%= @motoristum.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @motoristum.email %>
</p>

<p>
  <b>Endereco:</b>
  <%= @motoristum.endereco %>
</p>

<p>
  <b>Telefone:</b>
  <%= @motoristum.telefone %>
</p>

<p>
  <b>Rg:</b>
  <%= @motoristum.rg %>
</p>

<p>
  <b>Cpf:</b>
  <%= @motoristum.cpf %>
</p>

<p>
  <b>Pontos:</b>
  <%= @motoristum.pontos %>
</p>

<p>
  <b>Cnh:</b>
  <%= @motoristum.cnh %>
</p>

<p>
  <b>Validadecnh:</b>
  <%= @motoristum.validadeCnh %>
</p>


<%= link_to 'Edit', edit_motoristum_path(@motoristum) %> |
<%= link_to 'Back', motorista_path %>
