<h1>Lista da Reputacao dos Veiculos</h1>

<table>
  <tr>
    <th>Carona</th>
    <th>Veiculo</th>
    <th>Justificativa</th>
    <th>Ponto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reputacao_veiculos.each do |reputacao_veiculo| %>
  <tr>
    <td><%= reputacao_veiculo.carona.try :nome %></td>
    <td><%= reputacao_veiculo.veiculo.try :modelo %></td>
    <td><%= reputacao_veiculo.justificativa %></td>
    <td><%= reputacao_veiculo.ponto %></td>
    <td><%= link_to 'Mostrar', reputacao_veiculo %></td>
    <td><%= link_to 'Editar', edit_reputacao_veiculo_path(reputacao_veiculo) %></td>
    <td><%= link_to 'Excluir', reputacao_veiculo, :confirm => 'Voce tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Reputar veiculo', new_reputacao_veiculo_path %>
<%= link_to 'Inicio', '/' %>
