<%= form_for(@veiculo) do |f| %>
  <% if @veiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@veiculo.errors.count, "error") %> prohibited this veiculo from being saved:</h2>

      <ul>
      <% @veiculo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :placa %><br />
    <%= f.text_field :placa %>
  </div>
  <div class="field">
    <%= f.label :modelo %><br />
    <%= f.text_field :modelo %>
  </div>
  <div class="field">
    <%= f.label :marca %><br />
    <%= f.text_field :marca %>
  </div>
  <div class="field">
    <%= f.label :cor %><br />
    <%= f.text_field :cor %>
  </div>
  <div class="field">
    <%= f.label :pontos %><br />
    <%= f.text_field :pontos %>
  </div>
  <div class="field">
    <%= f.label :motoristum_id %><br />
	<%= f.select :motoristum_id, Motoristum.all.map {|c| [c.nome, c.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
