<p id="notice"><%= notice %></p>

<p>
  <b>Placa:</b>
  <%= @veiculo.placa %>
</p>

<p>
  <b>Modelo:</b>
  <%= @veiculo.modelo %>
</p>

<p>
  <b>Marca:</b>
  <%= @veiculo.marca %>
</p>

<p>
  <b>Cor:</b>
  <%= @veiculo.cor %>
</p>

<p>
  <b>Pontos:</b>
  <%= @veiculo.pontos %>
</p>

<p>
  <b>Motorista:</b>
  <%= @veiculo.motoristum.try :nome %>
</p>


<%= link_to 'Editar', edit_veiculo_path(@veiculo) %> |
<%= link_to 'Voltar', veiculos_path %>
