<%= form_for(@reputacao_carona) do |f| %>
  <% if @reputacao_carona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reputacao_carona.errors.count, "error") %> prohibited this reputacao_carona from being saved:</h2>

      <ul>
      <% @reputacao_carona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Motorista' %><br />
	<%= f.select :motoristum_id, Motoristum.all.map {|c| [c.nome, c.id]} %>
  </div>
  <div class="field">
    <%= f.label 'Carona' %><br />
	<%= f.select :carona_id, Carona.all.map {|c| [c.nome, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :justificativa %><br />
    <%= f.text_area :justificativa %>
  </div>
  <div class="field">
    <%= f.label :ponto %><br />
    <!--%= f.text_field :ponto %-->
	<%= f.select :ponto, ['-1','0','1']%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
