<h1>Lista da Reputacao dos Caronas</h1>

<table>
  <tr>
    <th>Motorista</th>
    <th>Carona</th>
    <th>Justificativa</th>
    <th>Ponto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reputacao_caronas.each do |reputacao_carona| %>
  <tr>
    <td><%= reputacao_carona.motoristum.try :nome %></td>
    <td><%= reputacao_carona.carona.try :nome %></td>
    <td><%= reputacao_carona.justificativa %></td>
    <td><%= reputacao_carona.ponto %></td>
    <td><%= link_to 'Mostrar', reputacao_carona %></td>
    <td><%= link_to 'Editar', edit_reputacao_carona_path(reputacao_carona) %></td>
    <td><%= link_to 'Excluir', reputacao_carona, :confirm => 'Voce tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reputacao carona', new_reputacao_carona_path %>
