<p id="notice"><%= notice %></p>

<p>
  <b>Motorista:</b>
  <%= @reputacao_carona.motoristum.try :nome %>
</p>

<p>
  <b>Carona:</b>
  <%= @reputacao_carona.carona.try :nome %>
</p>

<p>
  <b>Justificativa:</b>
  <%= @reputacao_carona.justificativa %>
</p>

<p>
  <b>Ponto:</b>
  <%= @reputacao_carona.ponto %>
</p>


<%= link_to 'Editar', edit_reputacao_carona_path(@reputacao_carona) %> |
<%= link_to 'Voltar', reputacao_caronas_path %>
