<h1>Listing cidades</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Estado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cidades.each do |cidade| %>
  <tr>
    <td><%= cidade.nome %></td>
    <td><%= cidade.estado.try :nome %></td>
    <td><%= link_to 'Show', cidade %></td>
    <td><%= link_to 'Edit', edit_cidade_path(cidade) %></td>
    <td><%= link_to 'Destroy', cidade, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cidade', new_cidade_path %>
