<h1>Lista de Cidades</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Estado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cidades.each do |cidade| %>
  <tr>
    <td><%= cidade.nome %></td>
    <td><%= cidade.estado.try :nome %></td>
    <td><%= link_to 'Mostrar', cidade %></td>
    <td><%= link_to 'Editar', edit_cidade_path(cidade) %></td>
    <td><%= link_to 'Excluir', cidade, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Cidade', new_cidade_path %>
