<%= form_for(@carona) do |f| %>
  <% if @carona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carona.errors.count, "error") %> prohibited this carona from being saved:</h2>

      <ul>
      <% @carona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :senha %><br />
    <%= f.text_field :senha %>
  </div>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :rg %><br />
    <%= f.text_field :rg %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :pontos %><br />
    <%= f.text_field :pontos %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
