<h1>Lista de Usuarios Caronas</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Nome</th>
    <th>E-mail</th>
    <th>Endereco</th>
    <th>Telefone</th>
    <th>RG</th>
    <th>CPF</th>
    <th>Pontos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @caronas.each do |carona| %>
  <tr>
    <td><%= carona.login %></td>
    <td><%= carona.nome %></td>
    <td><%= carona.email %></td>
    <td><%= carona.endereco %></td>
    <td><%= carona.telefone %></td>
    <td><%= carona.rg %></td>
    <td><%= carona.cpf %></td>
    <td><%= carona.pontos %></td>
    <td><%= link_to 'Mostrar', carona %></td>
    <td><%= link_to 'Editar', edit_carona_path(carona) %></td>
    <td><%= link_to 'Excluir', carona, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Carona', new_carona_path %>
<%= link_to 'Inicio', '/' %>
