<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @carona.login %>
</p>

<p>
  <b>Nome:</b>
  <%= @carona.nome %>
</p>

<p>
  <b>E-mail:</b>
  <%= @carona.email %>
</p>

<p>
  <b>Endereco:</b>
  <%= @carona.endereco %>
</p>

<p>
  <b>Telefone:</b>
  <%= @carona.telefone %>
</p>

<p>
  <b>RG:</b>
  <%= @carona.rg %>
</p>

<p>
  <b>CPF:</b>
  <%= @carona.cpf %>
</p>

<p>
  <b>Pontos:</b>
  <%= @carona.pontos %>
</p>


<%= link_to 'Editar', edit_carona_path(@carona) %> |
<%= link_to 'Voltar', caronas_path %>
