<h1>Listing reputacao_motorista</h1>

<table>
  <tr>
    <th>Carona</th>
    <th>Motorista</th>
    <th>Justificativa</th>
    <th>Ponto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reputacao_motorista.each do |reputacao_motoristum| %>
  <tr>
    <td><%= reputacao_motoristum.carona.try :nome %></td>
    <td><%= reputacao_motoristum.motoristum.try :nome %></td>
    <td><%= reputacao_motoristum.justificativa %></td>
    <td><%= reputacao_motoristum.ponto %></td>
    <td><%= link_to 'Show', reputacao_motoristum %></td>
    <td><%= link_to 'Edit', edit_reputacao_motoristum_path(reputacao_motoristum) %></td>
    <td><%= link_to 'Destroy', reputacao_motoristum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reputacao motoristum', new_reputacao_motoristum_path %>
