<h1>Lista da Reputacao dos Motoristas</h1>

<table>
  <tr>
    <th>Carona</th>
    <th>Motorista</th>
    <th>Justificativa</th>
    <th>Ponto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reputacao_motorista.each do |reputacao_motoristum| %>
  <tr>
    <td><%= reputacao_motoristum.carona.try :nome %></td>
    <td><%= reputacao_motoristum.motoristum.try :nome %></td>
    <td><%= reputacao_motoristum.justificativa %></td>
    <td><%= reputacao_motoristum.ponto %></td>
    <td><%= link_to 'Mostrar', reputacao_motoristum %></td>
    <td><%= link_to 'Editar', edit_reputacao_motoristum_path(reputacao_motoristum) %></td>
    <td><%= link_to 'Excluir', reputacao_motoristum, :confirm => 'Voce tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Reputar motorista', new_reputacao_motoristum_path %>
<%= link_to 'Inicio', '/' %>
